html{
    -webkit-text-size-adjust: 100%;
    -mox-text-size-adjust: 100%;
    -ie-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
}

#top {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 2.5em;
    color:dimgray;
    width: 100%;    
    
}

body {
    position: relative;
    overflow-x: hidden;
    background-image: url(homebg.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 1.05em;
    line-height: 1.25em;
    
    
}

#about{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    font-family: 'Arvo', serif;
    color:darkslategrey;
    text-align: center;    
}

#contact{
    font-family: 'Arvo', serif;
    color:darkslategrey;
    text-align: center;
    padding: 1em;


}

#list {
    list-style:none;
    padding:2em;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Arvo', serif;
    color:darkslategrey;
    text-align: left;
    
}

label{
  -webkit-appearance: none; 
  -moz-appearance: none; 
  -ie-appearance: none;
  -webkit-text-size-adjust: 100%;
  -mox-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: block;
  margin-bottom: 2em;
  width: 100%; 
  height: 2em;
  line-height: 5em; 
  font-size: 1em;
  border: 1em solid #ccc;
  text-align: center;

}

select {
    background-color: floralwhite;
    font-family: 'Arvo', serif;
}

input, select{
     -webkit-appearance: none; 
      -moz-appearance: none; 
      -ie-appearance: none;
      -webkit-text-size-adjust: 100%;
      -mox-text-size-adjust: 100%;
      -ie-text-size-adjust: 100%;
      text-size-adjust: 100%;
      width: 40%; 
      margin-bottom: 20px;    
      height: 2em;
      line-height: 3em; 
      font-size: 1em;
      border: 0.1em solid #ccc; 
      background-color: ghostwhite;
    }  
#pick{
    width:9em;
}

#submit {
    padding-bottom: 2.5em;
    width:5em;
    border-radius:0.5em;
    background-color: aliceblue;
    font-size: 1em;
    }
.js #submit{
    display: none;
}


